{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="hstack">
                <div class="card-body w-50">
                    <h5 class="card-title">User Information</h5>
                    <p class="card-text">Username: {{data.username}}</p>
                    <p class="card-text">Email: {{data.email}}</p>
                    <p class="card-text">Total deposited money(USD): {{ data.total_deposited_usd }}</p>
                    <p class="card-text">Current balance in USD: {{ data.current_dollars }}</p>
                    {% if data.percentage >= 0 %}
                        <p class="card-text text-success">You have outperformed the market by: {{ data.percentage }}%</p>
                    {% else %}
                        <p class="card-text text-danger">The market has outperformed you by: {{ data.percentage }}%</p>
                    {% endif %}
                    <p class="card-text">Total balance of wallet: {{data.current_total_balance_wallet}}</p>
                  </div>
                  <div class="card-body text-center w-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-bounding-box w-70" viewBox="0 0 16 16">
                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      </svg>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coins Distribution:</h5>
            <div id="pie-graph"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- data = {
    'username' : username,
    'email' : email,
    'total_deposited_usd' : total_deposited_usd,
    'coins' : coins,
    'current_total_balance_wallet' : current_total_balance_wallet,
    'percentage' : percentage,
    'prices' : price,
    'names' : names
} -->



  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Pie Graph JavaScript -->
  <script>
    // Data
    var values_data = [
        {% for item in data.prices %}
            "{{ item }}",
        {% endfor %}
    ];

    var labels_data = [
        {% for item in data.names %}
            "{{ item }}",
        {% endfor %}
    ];


    // var values_data = JSON.parse( {{ data.prices }} );
    // var labels_data = JSON.parse( {{ data.names }} );  
    var dataset = [
      {
        values: values_data,
        labels: labels_data,
        type: "pie"
      }
    ];

    // Layout
    var layout = {
      title: "Coin Distribution",
      height: 400,
      width: 500
    };

    // Plot the Pie Graph
    Plotly.newPlot("pie-graph", dataset, layout);
  </script>

{% endblock %}